<div class="actions-toolbar">
    <div class="primary">
        <button class="action action-update"
                type="button"
                click="updateAddress">
            <span translate="'Update'"></span>
        </button>
        <button class="action action-cancel"
                type="button"
                click="cancelAddressEdit"
                visible="canUseCancelBillingAddress() && !isPostBoxAddress()">
            <span translate="'Cancel'"></span>
        </button>
    </div>
</div>
