<div if="isAddressDetailsVisible() && currentBillingAddress()" class="billing-address-details">
    <text args="currentBillingAddress().prefix"></text> <text args="currentBillingAddress().firstname"></text> <text args="currentBillingAddress().middlename"></text>
    <text args="currentBillingAddress().lastname"></text> <text args="currentBillingAddress().suffix"></text><br/>
    <if args="currentBillingAddress().extension_attributes.care_of">
        c/o <text args="currentBillingAddress().extension_attributes.care_of" ></text><br/>
    </if>
    <text args="_.values(currentBillingAddress().street).join(', ')"></text> <text args="currentBillingAddress().extension_attributes.street_number"></text><br/>
    <text args="currentBillingAddress().city "></text>, <span text="currentBillingAddress().region"></span> <text args="currentBillingAddress().postcode"></text><br/>
    <text args="getCountryName(currentBillingAddress().countryId)"></text><br/>
    <a if="currentBillingAddress().telephone" attr="'href': 'tel:' + currentBillingAddress().telephone" text="currentBillingAddress().telephone"></a><br/>
    
    <each args="data: currentBillingAddress().customAttributes, as: 'element'">        
        <if args="typeof element['attribute_code'] == 'undefined'">
            <each args="data: Object.keys(element), as: 'attribute'">
                <if args="['care_of', 'street_number'].indexOf(attribute) == -1">
                    <if args="typeof element[attribute] === 'object'">
                        <text args="element[attribute].value"></text>
                    </if>
                    <if args="typeof element[attribute] === 'string'">
                        <text args="element[attribute]"></text>
                    </if>
                    <br />
                </if>
            </each>
        </if>

        <if args="typeof element['attribute_code'] != 'undefined' && ['care_of', 'street_number'].indexOf(element['attribute_code']) == -1">
            <text args="element['value']"></text>
        </if>
    </each>

    <button visible="!isAddressSameAsShipping() || isPostBoxAddress()"
            type="button"
            class="action action-edit-address"
            click="editAddress">
        <span translate="'Edit'"></span>
    </button>
</div>