<form class="form form-shipping-address" id="co-shipping-form" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}, visible: !isZasielkovnaSelected()">
    <if args="usePackstation()">    
        <style type="text/css">
            #packstation-info {
                background: white;
                border: 2px solid red;
                padding: 15px;
                display: none;
            }
            
            #field-packstation {
                position: relative;
            }
            
            #field-packstation .field-packstation-wrapper:hover #packstation-info {
                display: block;
                position: absolute;
            }                        
        </style>
        <div id="field-packstation">
            <div class="field-packstation-wrapper">
                <input type="checkbox" name="use_packstation" id="use_packstation" data-bind="checked: isPackstation" />        
                <label for="use_packstation"><img alt="" data-bind="attr: { src: require.toUrl('Shirtplatform_Shipping/img/packstation.jpg') }" /></label>
                <i class="material-icons">info</i> 
                <div id="packstation-info">
                    <div class="arrow"></div>

                    <span class="caption">DHL Packstation</span>
                    <p>
                        Die DHL Packstation ist eine Abholstation für Pakete und Päckchen mit Selbstbedienungs-Schließfächern.<br><br>
                        <strong>Postnummer:</strong>
                        <br>
                        Die PostNummer ist Ihre Kundennummer. Diese finden Sie auf Ihrer DHL-Goldcard. Der Begriff Packstation-Kundennummer wird dafür auch häufig genutzt.
                    </p>
                    <p>
                        <strong>Packstation:</strong>
                        <br>
                        Die Nummer der Packstation an welche die Sendung geliert werden soll.
                    </p>
                </div>
            </div>
        </div>
    </if>
    
    <!-- ko foreach: getRegion('before-fields') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <div id="shipping-new-address-form" class="fieldset address">
        <!-- ko foreach: getRegion('additional-fieldsets') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <!-- ko if: (isCustomerLoggedIn) -->
        <div class="field choice" data-bind="visible: !isFormInline">
            <input type="checkbox" class="checkbox" id="shipping-save-in-address-book" data-bind="checked: saveInAddressBook" />
            <label class="label" for="shipping-save-in-address-book">
                <span data-bind="i18n: 'Save in address book'"></span>
            </label>
        </div>
        <!-- /ko -->
    </div>
</form>