<tr class="row"
    click="element.selectShippingMethod">
    <td class="col col-method">
        <input type="radio"
               class="radio"
               ifnot="method.error_message"
               ko-checked="element.isSelected"
               ko-value="method.carrier_code + '_' + method.method_code"
               attr="'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code,
                    'checked': element.rates().length == 1 || element.isSelected" />
    </td>
    <td class="col col-price">        
        <each args="element.getRegion('price')" render=""></each>
    </td>
    <td class="col col-logo">
        <if args="$parent.getShippingMethodLogo(method.carrier_code, method.method_code)">
            <img attr="'alt': method.method_title, 'src': $parent.getShippingMethodLogo(method.carrier_code, method.method_code)"/>
        </if>    
    </td>
    <td class="col col-method"
        attr="'id': 'label_method_' + method.method_code + '_' + method.carrier_code"
        text="method.method_title"></td>
    <td class="col col-description">
        <if args="method.extension_attributes">
            <if args="method.extension_attributes.description">
                <p text="method.extension_attributes.description"></p>
            </if>
        </if>
        <span html="$parent.getShippingMethodDescriptionText(method.carrier_code, method.method_code)"></span>
        <if args="$parent.getShippingMethodName(method) == window.checkoutConfig.zasielkovna_method_name">                       
            <div id="branch-select-wrapper" data-bind="visible: $parent.isZasielkovnaVisible">	
                <input type="button" data-bind="click: function() {			
                        Packeta.Widget.pick($parent.zasielkovnaApiKey, $parent.showSelectedBranch, {country: $parent.country})
                    }, 
                    value: $t('Select a branch')">    
                <p>        
                    <span data-bind="i18n: 'Selected branch:'"></span>
                    <input type="hidden" id="zasielkovna-branch-id" data-bind="value: $parent.getDeliveryBranchId()">
                    <span id="zasielkovna-branch-name" data-bind="text: $parent.getDeliveryBranchName()"></span>
                </p>
            </div>
        </if>
    </td>
</tr>
<tr class="row row-error"
    if="method.error_message">
    <td class="col col-error" colspan="4">
        <div role="alert" class="message error">
            <div text="method.error_message"></div>
        </div>
        <span class="no-display">
            <input type="radio"
                   attr="'value' : method.method_code, 'id': 's_method_' + method.method_code" />
        </span>
    </td>
</tr>