<if args="visible()">
    <if args="isZasielkovnaAddress() && getZasielkovnaAddress()">        
        <text args="getZasielkovnaAddress().prefix"></text> <text args="getZasielkovnaAddress().firstname"></text> <text args="getZasielkovnaAddress().middlename"></text>
        <text args="getZasielkovnaAddress().lastname"></text> <text args="getZasielkovnaAddress().suffix"></text><br/>                
        <if args="getZasielkovnaAddress().extension_attributes.care_of">
            c/o <text args="getZasielkovnaAddress().extension_attributes.care_of"></text><br />            
        </if>
        <text args="_.values(getZasielkovnaAddress().street).join(', ')"></text> <text args="getZasielkovnaAddress().extension_attributes.street_number"></text><br />        

        <text args="getZasielkovnaAddress().city "></text>, <span text="getZasielkovnaAddress().region"></span> <text args="getZasielkovnaAddress().postcode"></text><br/>
        <text args="getCountryName(getZasielkovnaAddress().countryId)"></text><br/>
        <a if="getZasielkovnaAddress().telephone" attr="'href': 'tel:' + getZasielkovnaAddress().telephone" text="getZasielkovnaAddress().telephone"></a><br/>

        <each args="data: getZasielkovnaAddress().customAttributes, as: 'element'">
            <if args="['care_of', 'street_number'].indexOf(element.attribute_code) == -1">
                <text args="element.value"></text>
            </if>            
        </each>
    </if>

    <ifnot args="isZasielkovnaAddress() && getZasielkovnaAddress()">
        <if args="address().company">
            <text args="address().company"></text><br>
        </if>
        <if args="address().prefix !== $t('Company')">
            <text args="address().prefix"></text> 
        </if>
        <text args="address().firstname"></text> <text args="address().middlename"></text>
        <text args="address().lastname"></text> <text args="address().suffix"></text><br/>        
        <if args="address().extension_attributes.packstation_number">
            Postnummer: <text args="address().extension_attributes.post_number"></text><br />
            Packstation <text args="address().extension_attributes.packstation_number"></text><br />
        </if>
        <ifnot args="address().extension_attributes.packstation_number">
            <if args="address().extension_attributes.care_of">
                c/o <text args="address().extension_attributes.care_of"></text><br />            
            </if>
            <text args="_.values(address().street).join(', ')"></text> <text args="address().extension_attributes.street_number"></text><br />
        </ifnot>

        <text args="address().city "></text>, <span text="address().region"></span> <text args="address().postcode"></text><br/>
        <text args="getCountryName(address().countryId)"></text><br/>
        <a if="address().telephone" attr="'href': 'tel:' + address().telephone" text="address().telephone"></a><br/>

        <each args="data: address().customAttributes, as: 'element'">
            <if args="typeof element['attribute_code'] == 'undefined'">
                <each args="data: Object.keys(element), as: 'attribute'">
                    <if args="['care_of', 'street_number'].indexOf(attribute) == -1">
                        <if args="typeof element[attribute] === 'object'">
                            <text args="element[attribute].value"></text>
                        </if>
                        <if args="typeof element[attribute] === 'string'">
                            <text args="element[attribute]"></text>
                        </if>
                        <br />
                    </if>
                </each>
            </if>
    
            <if args="typeof element['attribute_code'] != 'undefined' && ['care_of', 'street_number'].indexOf(element['attribute_code']) == -1">
                <text args="element['value']"></text>
            </if>
        </each>
    </ifnot>
</if>